<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elearning.api.dao.SubAudioMapper" >
  <resultMap id="BaseResultMap" type="com.elearning.api.dao.po.SubAudio" >
    <id column="ID_SUB_AUDIO" property="idSubAudio" jdbcType="INTEGER" />
    <result column="ID_SUB_TYPE" property="idSubType" jdbcType="INTEGER" />
    <result column="ID_SUB_ROLE" property="idSubRole" jdbcType="VARCHAR" />
    <result column="ID_AUDIO" property="idAudio" jdbcType="INTEGER" />
    <result column="ID_SUB_INDEX" property="idSubIndex" jdbcType="INTEGER" />
    <result column="ID_SUB_LENGTH" property="idSubLength" jdbcType="INTEGER" />
    <result column="A_FILE_PATH" property="aFilePath" jdbcType="VARCHAR" />
    <result column="A_SIZE" property="aSize" jdbcType="DOUBLE" />
    <result column="A_RECOMMEND" property="aRecommend" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CREATEUSER" property="createuser" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="UPDATEUSER" property="updateuser" jdbcType="VARCHAR" />
    <result column="IS_ACTIVE" property="isActive" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID_SUB_AUDIO, ID_SUB_TYPE, ID_SUB_ROLE, ID_AUDIO, ID_SUB_INDEX, ID_SUB_LENGTH, A_FILE_PATH, 
    A_SIZE, A_RECOMMEND, CREATETIME, CREATEUSER, UPDATETIME, UPDATEUSER, IS_ACTIVE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.elearning.api.dao.po.SubAudioExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_sub_audio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sub_audio
    where ID_SUB_AUDIO = #{idSubAudio,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sub_audio
    where ID_SUB_AUDIO = #{idSubAudio,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.elearning.api.dao.po.SubAudioExample" >
    delete from t_sub_audio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.elearning.api.dao.po.SubAudio" >
    insert into t_sub_audio (ID_SUB_AUDIO, ID_SUB_TYPE, ID_SUB_ROLE, 
      ID_AUDIO, ID_SUB_INDEX, ID_SUB_LENGTH, 
      A_FILE_PATH, A_SIZE, A_RECOMMEND, 
      CREATETIME, CREATEUSER, UPDATETIME, 
      UPDATEUSER, IS_ACTIVE)
    values (#{idSubAudio,jdbcType=INTEGER}, #{idSubType,jdbcType=INTEGER}, #{idSubRole,jdbcType=VARCHAR}, 
      #{idAudio,jdbcType=INTEGER}, #{idSubIndex,jdbcType=INTEGER}, #{idSubLength,jdbcType=INTEGER}, 
      #{aFilePath,jdbcType=VARCHAR}, #{aSize,jdbcType=DOUBLE}, #{aRecommend,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{updateuser,jdbcType=VARCHAR}, #{isActive,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.elearning.api.dao.po.SubAudio" >
    insert into t_sub_audio
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idSubAudio != null" >
        ID_SUB_AUDIO,
      </if>
      <if test="idSubType != null" >
        ID_SUB_TYPE,
      </if>
      <if test="idSubRole != null" >
        ID_SUB_ROLE,
      </if>
      <if test="idAudio != null" >
        ID_AUDIO,
      </if>
      <if test="idSubIndex != null" >
        ID_SUB_INDEX,
      </if>
      <if test="idSubLength != null" >
        ID_SUB_LENGTH,
      </if>
      <if test="aFilePath != null" >
        A_FILE_PATH,
      </if>
      <if test="aSize != null" >
        A_SIZE,
      </if>
      <if test="aRecommend != null" >
        A_RECOMMEND,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="createuser != null" >
        CREATEUSER,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
      <if test="updateuser != null" >
        UPDATEUSER,
      </if>
      <if test="isActive != null" >
        IS_ACTIVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idSubAudio != null" >
        #{idSubAudio,jdbcType=INTEGER},
      </if>
      <if test="idSubType != null" >
        #{idSubType,jdbcType=INTEGER},
      </if>
      <if test="idSubRole != null" >
        #{idSubRole,jdbcType=VARCHAR},
      </if>
      <if test="idAudio != null" >
        #{idAudio,jdbcType=INTEGER},
      </if>
      <if test="idSubIndex != null" >
        #{idSubIndex,jdbcType=INTEGER},
      </if>
      <if test="idSubLength != null" >
        #{idSubLength,jdbcType=INTEGER},
      </if>
      <if test="aFilePath != null" >
        #{aFilePath,jdbcType=VARCHAR},
      </if>
      <if test="aSize != null" >
        #{aSize,jdbcType=DOUBLE},
      </if>
      <if test="aRecommend != null" >
        #{aRecommend,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.elearning.api.dao.po.SubAudioExample" resultType="java.lang.Integer" >
    select count(*) from t_sub_audio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sub_audio
    <set >
      <if test="record.idSubAudio != null" >
        ID_SUB_AUDIO = #{record.idSubAudio,jdbcType=INTEGER},
      </if>
      <if test="record.idSubType != null" >
        ID_SUB_TYPE = #{record.idSubType,jdbcType=INTEGER},
      </if>
      <if test="record.idSubRole != null" >
        ID_SUB_ROLE = #{record.idSubRole,jdbcType=VARCHAR},
      </if>
      <if test="record.idAudio != null" >
        ID_AUDIO = #{record.idAudio,jdbcType=INTEGER},
      </if>
      <if test="record.idSubIndex != null" >
        ID_SUB_INDEX = #{record.idSubIndex,jdbcType=INTEGER},
      </if>
      <if test="record.idSubLength != null" >
        ID_SUB_LENGTH = #{record.idSubLength,jdbcType=INTEGER},
      </if>
      <if test="record.aFilePath != null" >
        A_FILE_PATH = #{record.aFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.aSize != null" >
        A_SIZE = #{record.aSize,jdbcType=DOUBLE},
      </if>
      <if test="record.aRecommend != null" >
        A_RECOMMEND = #{record.aRecommend,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuser != null" >
        CREATEUSER = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateuser != null" >
        UPDATEUSER = #{record.updateuser,jdbcType=VARCHAR},
      </if>
      <if test="record.isActive != null" >
        IS_ACTIVE = #{record.isActive,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sub_audio
    set ID_SUB_AUDIO = #{record.idSubAudio,jdbcType=INTEGER},
      ID_SUB_TYPE = #{record.idSubType,jdbcType=INTEGER},
      ID_SUB_ROLE = #{record.idSubRole,jdbcType=VARCHAR},
      ID_AUDIO = #{record.idAudio,jdbcType=INTEGER},
      ID_SUB_INDEX = #{record.idSubIndex,jdbcType=INTEGER},
      ID_SUB_LENGTH = #{record.idSubLength,jdbcType=INTEGER},
      A_FILE_PATH = #{record.aFilePath,jdbcType=VARCHAR},
      A_SIZE = #{record.aSize,jdbcType=DOUBLE},
      A_RECOMMEND = #{record.aRecommend,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CREATEUSER = #{record.createuser,jdbcType=VARCHAR},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      UPDATEUSER = #{record.updateuser,jdbcType=VARCHAR},
      IS_ACTIVE = #{record.isActive,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.elearning.api.dao.po.SubAudio" >
    update t_sub_audio
    <set >
      <if test="idSubType != null" >
        ID_SUB_TYPE = #{idSubType,jdbcType=INTEGER},
      </if>
      <if test="idSubRole != null" >
        ID_SUB_ROLE = #{idSubRole,jdbcType=VARCHAR},
      </if>
      <if test="idAudio != null" >
        ID_AUDIO = #{idAudio,jdbcType=INTEGER},
      </if>
      <if test="idSubIndex != null" >
        ID_SUB_INDEX = #{idSubIndex,jdbcType=INTEGER},
      </if>
      <if test="idSubLength != null" >
        ID_SUB_LENGTH = #{idSubLength,jdbcType=INTEGER},
      </if>
      <if test="aFilePath != null" >
        A_FILE_PATH = #{aFilePath,jdbcType=VARCHAR},
      </if>
      <if test="aSize != null" >
        A_SIZE = #{aSize,jdbcType=DOUBLE},
      </if>
      <if test="aRecommend != null" >
        A_RECOMMEND = #{aRecommend,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        CREATEUSER = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        UPDATEUSER = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        IS_ACTIVE = #{isActive,jdbcType=INTEGER},
      </if>
    </set>
    where ID_SUB_AUDIO = #{idSubAudio,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elearning.api.dao.po.SubAudio" >
    update t_sub_audio
    set ID_SUB_TYPE = #{idSubType,jdbcType=INTEGER},
      ID_SUB_ROLE = #{idSubRole,jdbcType=VARCHAR},
      ID_AUDIO = #{idAudio,jdbcType=INTEGER},
      ID_SUB_INDEX = #{idSubIndex,jdbcType=INTEGER},
      ID_SUB_LENGTH = #{idSubLength,jdbcType=INTEGER},
      A_FILE_PATH = #{aFilePath,jdbcType=VARCHAR},
      A_SIZE = #{aSize,jdbcType=DOUBLE},
      A_RECOMMEND = #{aRecommend,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CREATEUSER = #{createuser,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      UPDATEUSER = #{updateuser,jdbcType=VARCHAR},
      IS_ACTIVE = #{isActive,jdbcType=INTEGER}
    where ID_SUB_AUDIO = #{idSubAudio,jdbcType=INTEGER}
  </update>

</mapper>